:root {
  --pink: hsl(346 91% 59%);
  --blue: hsl(219 70% 30%);
  --yellow: hsl(43 79% 53%);
  --orange: hsl(8 98% 62%);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

main {
  width: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

button {
  border: none;
}

.app-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  width: 400px;
  box-shadow: 0 0 20px black;
  border-radius: 30px;
}

.app-backgrounds {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: end;
  align-content: center;
}

.insult-wrapper {
  display: grid;
  grid-gap: 20px;
  border: red dashed 1px;
  margin-right: 2em;
}

/* insult buttons styles */
.insults {
  width: 70px;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 3px 0 rgba(0, 0, 0, 0.25);
  transform: rotate(10deg);
}

.intro {
  background: var(--pink);
}
.insult-1 {
  background: var(--blue);
}
.insult-2 {
  background: var(--yellow);
}
.closing {
  background: var(--orange);
}

.green {
  background: chartreuse;
  border-radius: 30px 0 0 30px;
}

.black {
  background: black;
  border-radius: 0 30px 30px 0;
}
