:root {
  --pink: hsl(346, 90%, 54%, 1);
  --blue: hsl(219, 70%, 25%, 1);
  --yellow: hsl(43, 79%, 48%, 1);
  --orange: hsl(8, 90%, 57%, 1);
  --green: hsla(126, 80%, 33%, 1);
  --pink-on: hsl(346, 100%, 59%, 1);
  --blue-on: hsl(219, 80%, 30%, 1);
  --yellow-on: hsl(43, 89%, 53%, 1);
  --orange-on: hsl(8, 100%, 62%, 1);
  --green-on: hsla(126, 80%, 42%, 1);
  --white-off: hsl(0, 0%, 70%);
  --shadow: inset 2px 2px 6px 0 rgba(255, 255, 255, 0.6),
    inset -2px -2px 6px 0 rgba(0, 0, 0, 0.8);
  --shadow-active: inset -2px -2px 6px 0 rgba(255, 255, 255, 0.6),
    inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8);
  --shadow-on: inset 2px 2px 6px 0 rgba(255, 255, 255, 0.6),
    inset -2px -2px 6px 0 rgba(0, 0, 0, 0.8), 0 0 1px rgba(255, 255, 255, 0.3);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html {
  background-image: url('./components/images/antique-white.jpg');
  text-align: center;
  font-family: 'Kanit';
}

main {
  width: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
}

button {
  border: none;
}

.app-wrapper {
  display: grid;
  justify-content: center;
  align-content: space-around;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.insultinator-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  width: 400px;
}

h1 {
  font-size: 2em;
  margin: 1em 0 0 0;
  color: var(--orange);
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 5px gray;
  transform: scale(1.2, 2) skew(20deg, 1deg);
  letter-spacing: 2px;
}

footer {
  font-weight: 400;
  display: grid;
  align-content: end;
}

a {
  text-decoration: none;
  color: var(--pink-on);
  box-shadow: 0 3px 0 var(--pink-on);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
  box-shadow: 0 5px 0 var(--pink-on);
}

a:active {
  transform: translateY(1px);
}

svg {
  width: 400px;
  height: 500px;
  position: absolute;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) brightness(100%);
  transition: all 0.2s ease-in;
}

svg.on {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)) brightness(120%);
}

.green-svg {
  background: green;
}

.app-backgrounds {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: end;
  align-content: center;
  position: relative;
}

.insult-wrapper {
  display: grid;
  grid-gap: 60px;
  margin: 0 4.7em 6em 0;
  transform: rotate(-8deg);
}

/* insult buttons styles */
.insults {
  width: 60px;
  height: 25px;
  border-radius: 13px;
  box-shadow: var(--shadow);
  transform: rotate(20deg);
  transition: all 0.1s ease-in;
}
.insults.on:active {
  transform: translate(0, 2px) rotate(20deg);
  box-shadow: var(--shadow-active);
}

.intro {
  background: var(--pink);
}
.insult-1 {
  background: var(--blue);
}
.insult-2 {
  background: var(--yellow);
}
.closing {
  background: var(--orange);
}

/* toggle on/off syles */
.insults.on {
  box-shadow: var(--shadow-on);
  filter: brightness(120%);
}

.intro.on {
  background-color: var(--pink-on);
}

.insult-1.on {
  --blue: var(--blue-on);
}
.insult-2.on {
  --yellow: var(--yellow-on);
}
.closing.on {
  --orange: var(--orange-on);
}

.left-buttons.on {
  box-shadow: var(--shadow);
}

.play.on {
  color: white;
}
.question.on {
  color: white;
}

/* play and ? buttons */
.left-buttons {
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in;
}

.left-buttons:active {
  transform: translate(0, 2px) scale(1.05);
}

.left-buttons.on:active {
  box-shadow: var(--shadow-active);
}
.play {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  background-color: black;
  color: var(--white-off);
  font-size: 1.5em;
  line-height: 1em;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  top: 110px;
  left: 80px;
  padding: 0;
}

.question {
  font-family: 'Ultra', serif;
  background-color: var(--orange);
  font-size: 3rem;
  color: var(--white-off);
  position: absolute;
  top: 40px;
  left: 40px;
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  padding: 0;
}
